.recommenders
.metadata
.gradle
bin
.DS_Store
build
.project
.settings
.classpath
.private

# IntelliJ files
*.iml
.idea/
*.ipr
*.iws

# Maven artifacts
target/
dependency-reduced-pom.xml

# Node.js artifacts
node_modules
npm-debug.log

# JavaScript Build Artifacts
src/main/resources/assets/build/*

node